# Python
__pycache__/
*.py[cod]
venv/
.venv/

# C++
build/
bin/
out/
*.o
*.obj
*.exe
*.dll
*.so
*.dylib

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Temp
tmp/
temp/

# OS
Thumbs.db
.DS_Store